# Project exclude paths
/rp_api/target/
/rp_client/target/
/rp_daemon/target/
/rp_server/target/
/target/
/.idea/workspace.xml
/rp_client/src/main/build/
/rp_client/src/main/ReverseProxy.xcodeproj/project.xcworkspace/xcuserdata/zhkl0228.xcuserdatad/UserInterfaceState.xcuserstate
/.idea/inspectionProfiles/Project_Default.xml
